# wget https://download.pytorch.org/whl/cu111/torch-1.8.1%2Bcu111-cp38-cp38-linux_x86_64.whl
# wget https://download.pytorch.org/whl/cu111/torchvision-0.9.1%2Bcu111-cp38-cp38-linux_x86_64.whl
wget https://download.pytorch.org/whl/cu118/torch-2.3.1%2Bcu118-cp38-cp38-linux_x86_64.whl

timm
torch_geometric